TopLevelPane {
    -fx-background-position: 2500 2500;
}

TopLevelPane, TopLevelPane > Pane > Pane > Pane {
    -fx-min-width: 8000;
    -fx-min-height: 4500;
    -fx-max-width: 8000;
    -fx-max-height: 4500;
}

.menu {
    -fx-font-size: 12px;
    -fx-font-family: Titillium;
    -fx-border-width: 2px;
}

.menu .title {
    -fx-font-weight: bold;
}

.menu .content {
    -fx-font-size: 15px;
    -fx-font-weight: normal;
}

.menu #categorySpace TitledPane {
    -fx-padding: 3px;
}

.menu #utilSpace {
    -fx-padding: 3px;
    -fx-spacing: 6px;
}

.menu .scroll-bar .increment-button {
    -fx-padding: 5px;
}

.menu .scroll-bar .thumb {
    -fx-background-color: darkgrey;
    -fx-background-radius: 10px;
    -fx-background-insets: 4, 0, 0;
}

.block {
    -fx-font-size: 15px;
    -fx-font-weight: lighter;
    -fx-font-family: Titillium;
    -fx-border-width: 1px;
    -fx-border-style: solid outside;
    -fx-alignment: center;
}

.value.block Button {
    -fx-background-color: #777777;
    -fx-label-padding: 0px;
}

.value.block {
    -fx-padding: 10 5 10 5;
    -fx-pref-width: 150px;

    -fx-max-width: 150px;
    -fx-max-height: 200px;
}

.display.block {
    -fx-padding: 10 5 10 5;
    -fx-pref-width: 100px;

}

.output {
    -fx-font-size: 20px;
    -fx-text-fill: darkorange;
    -fx-font-weight: bold;
}

.labra {
    -fx-font-size: 20px;
    -fx-text-fill:darkorange ;
    -fx-font-weight: bold;
}

DrawWire {
    -fx-stroke-width: 5px;
}

.space {
    -fx-max-height: 0px;
    -fx-alignment: center;
}

.inputType {
    -fx-padding: 0 5 0 5;
    -fx-font-size: 14px;
    -fx-font-weight: normal;
}